$prefix_path: $assets_url + "/fonts/Brandon-Grotesque/";

@mixin build__fonts($name) {
    $base: local("Brandon Grotesque");
    $regular: local("Brandon Grotesque Regular"), $base;
    $light: local("Brandon Grotesque Light"), $base;
    $medium: local("Brandon Grotesque Medium"), $base;
    $bold: local("Brandon Grotesque Bold"), $base;
    $black: local("Brandon Grotesque Black"), $base;
    $thin: local("Brandon Grotesque Thin"), $base;

    @font-face {
        @if $name == "light" {
            font-family: "BrandonGrotesqueLight";
            src: url(#{$prefix_path}+"Light.otf") format('otf');
            font-weight: 200;
            font-display: block;
        } @else if $name == "medium" {
            font-family: "BrandonGrotesqueMedium";
            src: url(#{$prefix_path}+"Medium.otf") format('otf');
            font-weight: 500;
            font-display: block;
        } @else if $name == "bold" {
            font-family: "BrandonGrotesqueBold";
            src: url(#{$prefix_path}+"Bold.otf") format('otf');
            font-weight: 700;
            font-display: block;
        } @else if $name == "black" {
            font-family: "BrandonGrotesqueBlack";
            src: url(#{$prefix_path}+"Black.otf") format('otf');
            font-weight: 900;
            font-display: block;
        } @else if $name == "thin" {
            font-family: "BrandonGrotesqueThin";
            src: url(#{$prefix_path}+"Thin.otf") format('otf');
            font-weight: 100;
            font-display: block;
        } @else {
            font-family: "BrandonGrotesqueRegular";
            src: url(#{$prefix_path}+"Regular.otf") format('otf');
            font-weight: 400;
            font-display: block;
        }
    }
}

/*
*
* SIMPLY COMMENT OUT NOT IN USE FONT-FAMILY
*/
@include build__fonts("regular");
@include build__fonts("light");
@include build__fonts("medium");
@include build__fonts("bold");
@include build__fonts("black");
@include build__fonts("thin");
