/node_modules
/public/hot
/public/storage
/public/fonts
/public/*.js
/public/js
/public/*.css
/public/css/*
/public/.htaccess
/public/vendor
/storage/*.key
/storage/framework/**/*
/vendor
.env
.env.backup
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/mysql-data
/docker/nginx_conf/localhost-key.pem
/docker/nginx_conf/localhost.pem

