.btn-outline-custom {
    color: #212a27;
    border-color: #cdcfce;
}

.btn-outline-custom:hover {
    color: white;
    background-color: #06deb5;
    border-color: #06deb5;
}

.ui-button {
    @extend .btn;
    @extend .btn-primary;
    background-color: #06deb5;
    border-color: #06deb5;
}

.ui-button:hover {
    background-color: #06deb5;
    border-color: #06deb5;
}

.ui-button:not(:disabled):not(.disabled):active, .ui-button:not(:disabled):not(.disabled).active {
    background-color: #06deb5;
    border-color: #06deb5;
}
