.ui-button {
    @extend .btn;
    &.btn-danger {
        background-color: unset;
        background-image: linear-gradient(to right,rgb(202, 0, 17, 1), rgb(255, 94, 117, 0.8)) !important;
        border: none;
    }
    &:disabled {
        background-color: unset;
        border-color: unset;
    }
    &.btn-lg {
        font-size: 0.9rem;
    }
}
