.ui-pagination {
    .pagination-item {
        max-height: 40px;
        border: 1px solid transparent;
        border-style: solid;
        padding: 0.375rem 0.75rem;
        border-radius: 0.25rem;;
        &:not(:first-child),
        &:not(:last-child) {
            margin-right: 10px;
        }
        color: #3490dc;
        background-color: #ffffff;
        &.current-page {
            opacity: 1;
            background-color: #3490dc;
            color: #ffffff;
        }
    }
    .prev-page,
    .next-page {
        background-color: #3490dc;
        color: #ffffff;
        border-color: #3490dc;
        border: 1px solid transparent;
        border-style: solid;
        padding: 0.375rem 0.75rem;
        border-radius: 0.25rem;;
        &.is-disabled {
            background-color: #ffffff;
            color: #3490dc;
        }
    }
}
